// 关于页面
#about {
  width: 61%;
  text-align: left;
  margin: 0 auto;

  h1 {
    //height: 100px;
    color: $highlightColor;
    color: var(--highlightColor);
  }
}

.dark {
  #about {
    h1 {
      color: $highlightColorInDarkMode;
      color: var(--highlightColorInDarkMode);
    }
  }
}