// 移动端的 banner
#banner {
  display: none;
}

// for mobile
.mobile {
  #banner {
    display: block;
    position: relative;
    height: 400px;
    background: #fff;
    background: url("./assets/image/banner.jpg") no-repeat center;
    background-size: cover;
    //margin-bottom: -4em;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    z-index: 3;

    .description {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      top: 17.5em;
      opacity: 0.8;
      font-family: "webfont-for-name", "Microsoft Yahei", sans-serif, Consolas, Monaco !important;
    }

    &::after {
      content: '';
      position: absolute;
      width: 200%;
      border-radius: 100%;
      z-index: 2;
      height: 3em;
      bottom: -1em;
      left: -50%;
      background-color: $bgColorBase;
      background-color: var(--bgColorBase);
      filter: blur(5px);
    }

    #banner-logo {
      position: absolute;
      left: 0;
      right: 0;
      top: 5em;
      width: 70px;
      height: 70px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0px 0px 3px #eee;
      opacity: 0.9;

      &::after {
        content: "";
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    #banner-headering {
      display: flex;
      padding: 0 1em;
      height: 3em;
      align-items: center;
      opacity: 0.8;
      transition: all 0.3s;

      #banner-name {
        font-size: 1.5em;
        font-weight: bold;
        color: #fff;
        font-family: "webfont-for-name", "Microsoft Yahei", sans-serif, Consolas, Monaco !important;

        a {
          color: inherit;
        }
      }
    }

    #banner-nav {
      position: absolute;
      font-size: inherit;
      min-width: 61.8%;
      height: 2.5em;
      background-color: rgba(255, 255, 255, 0.7);
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      top: 14em;
      box-shadow: 0 0 2px inset #eee;
      border-radius: 30px;
      padding: 0 0.3em;
      backdrop-filter: blur(10px);

      .banner-menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        ul {
          display: flex;
          flex-direction: row;
          width: 100%;
        }

        li {
          text-align: center;
          flex: 1;
          height: 100%;
          margin: 0 0.5em;

          a {
            display: block;
            height: 2.5em;
            line-height: 2.5em;
            border-radius: 3px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            transition: all 0.3s;

            &:active {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }

  .dark {
    #banner {
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: #000;
        opacity: 0.3;
      }

      &::after {
        background-color: $bgColorBaseInDarkMode;
        background-color: var(--bgColorBaseInDarkMode);
      }

      #banner-headering {
        #banner-name {
          color: $FontColorInDarkMode;
          color: var(--FontColorInDarkMode);
        }
      }

      #banner-nav {
        background-color: transparent;

        .banner-nav-container {
          .banner-menu {
            li {
              a {
                &:active {
                  background-color: $highlightColorInDarkMode;
                  background-color: var(--highlightColorInDarkMode);
                  color: $FontColorInDarkMode;
                  color: var(--FontColorInDarkMode);
                }
              }
            }
          }
        }
      }

      .description {
        color: $FontColorInDarkMode;
        color: var(--FontColorInDarkMode);
      }
    }
  }
}