@use "var"as *;

// 评论，已废弃
#comments {
  .comment-list {
    list-style: none;
    margin-left: 0;

    ol {
      list-style: none;
    }

    .comment-author .avatar {
      border-radius: 50%;
      margin-bottom: -20px;
    }

    .comment-body {
      border-bottom: 1px solid $subColor;
      border-bottom: 1px solid var(--subColor);
      margin-top: 5px;
      position: relative;
      margin-bottom: 20px;

      p {
        margin: 1.1em;
      }

      .reply {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        /*border-radius: 3px;*/
        background-color: $highlightColor;
        background-color: var(--highlightColor);
        color: #fff;
        padding: 0 6px;
        font-size: 15px;

        a {
          color: #fff;
        }
      }

      &:hover {
        .reply {
          display: block;
        }
      }
    }

    .comment-meta {
      font-size: 12px;
      margin-left: 41px;
    }
  }

  #respond {
    .comment-form-comment textarea {
      width: 100%;
      min-height: 120px;
      border-radius: 3px;
      border: 1px solid $subColor;
      border: 1px solid var(--subColor);
      text-indent: 0.5em;
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
      width: 100px;

      input {
        border-radius: 3px;
        text-indent: 0.5em;
        border: 1px solid #ccc;
      }
    }

    .form-submit {
      input {
        background-color: $highlightColor;
        background-color: var(--highlightColor);
        color: #fff;
        border: 1px solid transparent;
        box-sizing: border-box;
        padding: 0 10px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: transparent;
          border: 1px solid $highlightColor;
          border: 1px solid var(--highlightColor);
          color: $subFontColor;
          color: var(--subFontColor);
        }
      }
    }

    .comment-form-cookies-consent {
      clear: both;
    }
  }
}


.dark {
  #comments {
    .comment-list {
      .comment-body {
        .reply {
          background-color: $highlightColorInDarkMode;
          background-color: var(--highlightColorInDarkMode);
        }
      }
    }

    #respond {
      .form-submit {
        input {
          background-color: $highlightColorInDarkMode;
          background-color: var(--highlightColorInDarkMode);

          &:hover {
            border: 1px solid $highlightColorInDarkMode;
            border: 1px solid var(--highlightColorInDarkMode);
          }
        }
      }
    }
  }
}