// 设置背景图片
// 以下背景图片CSS只支持PC端，移动端性能太差，不设置background image
.custom-background {
  position: relative;
  // overflow: hidden;
  width: 100%;
  min-height: 100%;

  .custom-bg {
    background-image: var(--backgroundImage);
    z-index: -1;
    position: fixed;
    will-change: transform;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &::after {
      content: "";
      display: block;
      height: 100%;
      backdrop-filter: blur(var(--backgroundImageBlur));
    }
  }

  #header {
    opacity: 0.95;
    background-color: transparent;
  }

  #mastcontainer {
    .posts-cate-title {
      filter: brightness(1.5) opacity(0.9);
    }

    .custom-page-wrapper {
      padding-top: 2em;
    }

    #posts-container {
      .post-item {
        .post-thumbnail {

          // position: relative;
          // z-index: 1;
          &::after {
            opacity: 0.9;
          }
        }
      }

      .page-nav-wrapper {
        .page-nav {
          .page-numbers {
            color: #eee;
          }
        }
      }
    }
  }
}

// for mobile
.mobile {
  #mastcontainer {
    #posts-container {
      .custom-page-wrapper {
        padding-top: 4em;
      }
    }
  }
}