  // 以下背景图片CSS只支持PC端，移动端性能太差，不设置background image
.custom-background {
  position: absolute;
  width:100%; min-height: 100%;
  #header {
    opacity: 0.95;
    background-color: transparent;
  }
  #mastcontainer {
    opacity: 0.95;
    .posts-cate-title {
      filter: brightness(1.5) opacity(0.9);
    }
    .custom-page-wrapper {
      padding-top: 2em;
      @media screen and (max-width: 1000px) {
        padding-top: 4em;
      }
    }
    #posts-container {
      .post-item {
        .post-thumbnail {
          &::after {
            opacity: 0.9;
          }
        }
      }
    }
  }
}