// 竖向 Header 模式的 footer 和横向 footer 模式的 footer-m
/*footer*/
.footer {
  clear: both;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  font-size: .65em;
  line-height: 4em;
  height: 4em;
  padding: 1em 0;
  background: inherit;
  z-index: 1;
  width: 300px;

  @media screen and (max-width: 1400px) {
    width: 240px;
  }
}

// for mobile
.mobile {
  height: 100%;

  .footer {
    display: block;
    position: relative;
    line-height: 2em;
    height: 2em;
    padding: 0 0;
  }

  body {
    position: relative;
    min-height: 100%;

    &::after {
      content: "";
      display: block;
      height: 2em;
    }
  }
}

.footer-m {
  text-align: center;
  width: 100%;
  margin-top: 1em;
  clear: both;

  @media screen and (min-width: 1000px) {
    // display: none;
  }
}