section.links {
  width: 50%;
  margin: 0 auto;
  position: relative;
  .links-main-title {
    font-size: 2em;
    margin-bottom: 1em;
  }
  .links-cat-title {
    line-height: 2em;
    border-bottom: 1px solid $subColor;
    border-bottom: 1px solid var(--subColor);
    font-size: 1.5em;
  }
  .links-list {
    margin: 0;
  }
  .links-item {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
    align-items: flex-start;
    //background: #fff;
    border-radius: 10px;
    //box-shadow: 0 0 3px #eee;
    position: relative;
    padding: 1em;
    overflow: hidden;
    .links-item-fav {
      flex: 0 0 70px;
      height: 70px;
      margin-right: 1em;
      border-radius: 50%;
      background-size: cover;
      &::after {
        content: '';
        background-image: inherit;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        border-radius: 10px;
        filter: blur(100px);
        transition: all 0.3s;
      }
    }
    &:hover {
      .links-item-fav {
        &::after {
          filter: blur(100px) brightness(1.1);
        }
      }
    }
    .links-item-href {
      font-size: 1.2em;
      padding: 0 0.3em 0.2em 0;
      //border-bottom: 1px solid $subColor;
    }
  }
  @media screen and (max-width: 1000px) {
    &.links {
      width: 85%;
    }
    //.links-item {
    //  background: #fff;
    //  border-radius: 10px;
    //  box-shadow: 0 0 3px #eee;
    //  padding: 1em;
    //}
  }
}