#header {
  position: fixed;
  background: linear-gradient(to right,$bgColorBase,mix($bgColorBase,$bgColorHeader,50%), $bgColorHeader);
  top: 0;
  height: 100%;
  overflow-x: hidden;
  width: 380px;
  z-index: 1;
  font-weight: bold;
  //box-shadow: 3px 3px 3px 1px mix($bgColorBase,#ccc,50%);
  @include boxShadow;
  &::-webkit-scrollbar {
    width: 2px;
  }
  a:hover {
    color: $highlightColor;
  }
  &::after {
    content: '';
    display: block;
    height: 6em;
  }
  #logo {
    width: 150px;
    height: 150px;
    margin: 2em auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 2px #ccc;
    &::after {
      content: "";
      display: block;
    }
    img {
      transition: transform .3s;
      width: 100%;
      height: 100%;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  h1, h2 {
    padding: 20px;
    margin: 0;
    text-align: center;
    padding-bottom: 0;
  }
  #name {
    font-size: 1.5em;
    font-weight: bold;
  }
  .description {
    text-align: center;
    padding: 20px;
    font-weight: bold;
  }
  #nav {
    text-align: center;
    font-size: 20px;
    padding: 0 20px;
    background: inherit;
    .nav-menu-container {
      .nav-menu {
        li {
          a{
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .nav-title {
    font-size: 24px;
    //border-bottom: 0.1em solid $subFontColor;
    @include hDivider(#333);
    line-height: 2em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .menu .menu-item {
    margin-bottom: 0.5em;
    position: relative;
    font-weight: bold;
  }
  .nav-toggle {
    display: none;
    position: relative;
  }
  @media screen and (max-width: 1400px) {
    width: 280px;
  }
}
#catalog {
  display: none;
  padding: 0 20px;
  .catalog-title {
    padding: 0.5em 0;
    font-size: 20px;
    text-align: left;
  }
  .catalog-item {
    cursor: pointer;
    transition: all 0.3s;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    &:hover {
      color: #b3b3b3;
    }
    &.catalog-item-active {
      color: #b3b3b3;
    }
    span {
      display: inline-block;
      width: 2em;
      text-align: right;
      align-items: flex-start;
      margin-right: 0.5em;
      margin-left: -1em;
    }
    div {
      display: inline-block;
      flex:1;
    }
  }
  &.text-center {
    text-align: center;
    .catalog-item {
      display: block;
    }
  }
  &.mb-catalog {
    .catalog-item {
      display: block;
      text-align: left;
    }
  }
}
.mb-header-toggle-bar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 3em;
  min-height: 0;
  z-index: 2;
  //border-bottom: 1px solid #eee;
  box-shadow: -1px 1px 2px #eee;
  transition: all 0.6s;
  opacity: 0.9;
  top: 0;
  right: 0;
  //background: transparent;
  background-color: $bgColorBase;
  transform: translate3d(0, 0, 0);
  will-change: right;
  &.hide {
    transform: translate3d(0, -3.2em, 0);
  }
  #headering {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
    background: inherit;
    height: 3em;
    .nav-toggle {
      content: '';
      display: block;
      width: 2em;
      height: 1px;
      box-shadow: inset 0px -1px 1px $subFontColor;
      position: relative;
      span {
        // 扩展可点击区域
        display: block;
        height: 2em;
        position: absolute;
        width: 100%;
        top: -2em;
        padding: 1em;
        bottom: -1em;
        right: -1em;
        left: -1em;
      }
      &::after, &::before {
        content: " ";
        display: block;
        width: 2em;
        height: 1px;
        box-shadow: inset 0px -1px 1px $subFontColor;
        transition: all 0.3s;
      }
      // 使用background-color 1px会有差异 的问题
      &.nav-close {
        &::after {
          transform: translateY(0.5em);

        }
        &::before {
          transform: translateY(-0.5em);
        }
      }
      &.nav-open {
        height: 0;
        &::after {
          transform: rotate(45deg);
          margin-top: -1px;
        }
        &::before {
          transform: rotate(-45deg);
        }
      }
    }
  }
  #name {
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
  }
  h1,h2 {
    padding: 0;
  }
}

.mb-header-side {
  position: fixed;
  z-index: -4;
  top: 0;
  right: -63%;
  //transform: translate3d(102%,0,0);
  transform: translate3d(0,0,0);
  transition: all 0.65s;
  width: 61.8%;
  overflow-y: scroll;
  height: 100%;
  box-shadow: -1px 0 100px inset #eee;
  will-change: right;
  #catalog {
    margin: 2em;
  }
  .mb-nav {
    margin: 2em;
  }
  #catalog {
    padding: 0;
    .catalog-item {
      padding: 0;
      margin-bottom: 0.3em;
      span {
        //margin-left: -1em;
      }
    }
  }
}
.mb-wrapper {
  transition: all 0.7s;
}
.target-opened {
  &.mb-wrapper {
    transform: translate3d(-61.8%, 0, 0);
  }
  &.mb-header-toggle-bar {
    transform: translate3d(-61.8%,0, 0);
  }
  &.mb-header-side {
    transform: translate3d(-100%, 0, 0);
    z-index: 4;
  }
}
.target-closed{
  &.mb-wrapper {
    transform: translate3d(0, 0, 0);
  }
  &.mb-header-toggle-bar {
    transform: translate3d(0, 0, 0);
  }
  &.mb-header-side {
    transform: translate3d(0,0,0);
    z-index: -4;
  }
}

.dark {
  #header {
    background: $bgColorHeaderInDarkMode;
    @include boxShadowInDarkMode;

    a:hover {
        color: $highlightColorInDarkMode;
    }
    #logo {
      @include boxShadowInDarkMode;
    }
    .nav-title {
      //border-bottom: 0.1em solid $subFontColor;
      @include hDividerInDarkMode;

    }
    //@media screen and (max-width: 1000px) {
    //  @include boxShadowInDarkMode;
    //}
    &::-webkit-scrollbar-thumb {
      background: #313b4c;
      //-webkit-box-shadow: inset 0 0 3px rgba($subFontColor,0.5);
    }
  }
  .mb-header-toggle-bar {
    background-color: $bgColorBaseInDarkMode;
    box-shadow: -1px 1px 2px #222933;
    #headering {
      .nav-toggle {
        box-shadow: inset 0px -1px 1px $FontColorInDarkMode;
        &::after, &::before {
          box-shadow: inset 0px -1px 1px $FontColorInDarkMode;
        }
      }
    }
  }
  .mb-header-side {
    box-shadow: -1px 0 10px inset #222933;
  }
}