// 横向 header
.horizontal-header-mode {
  body {
    min-height: 100%;
  }
  .horizontal-header {
    backdrop-filter: blur(50px);
    -moz-user-select: none; 
    -webkit-user-select: none; 
    height: 70px; min-width: 1200px;
    position: fixed;
    @include boxShadow;
    box-shadow: 0 0 5px #eee;
    width: 100%;
    z-index: 1;
    background-color: rgba($bgColorHeader,0.8);
    background-color: var(--bgColorHeader);
    .horizontal-name {
      font-family: "webfont-for-name","Microsoft Yahei",sans-serif, Consolas,Monaco !important;
    }
    .description {
      font-family: "webfont-for-name","Microsoft Yahei",sans-serif, Consolas,Monaco !important;
    }
    .header-wrapper {
      width: 61%;
      margin: 0 auto;
      .header-left {
        float: left;
        height: 70px;
        h1 {
          width: 100%;
          font-size: 1.5em;
          font-weight: bold;
          a {
            display: block;
            height: 35px;
            width: 100%;
            line-height: 35px;
            &:hover {
              color: $highlightColor;
              color: var(--highlightColor);
            }
          }
        }
        .description {
          width: 100%;
          height: 35px;
          line-height: 35px;
          cursor: none;
        }
      }
      .header-right {
        float: right;
        .hz-nav-menu-container {
          li {
            display: inline-block;
            height: 70px;
            line-height: 70px;
            margin-left: 2em;
            position: relative;
          }
          a {
            transition: all 0.3s;
            &::after {
              position: static;
              float: right;
              margin-left: 0.2em;
            }
            &:hover {
              transform: scale(1.05);
              color: $highlightColor;
              color: var(--highlightColor);
            }
          }
          .sub-menu {
            // column-count: 2;
            column-width: 100px;
            position: absolute;
            z-index: 2;
            width: 300px;
            background-color:rgba($bgColorHeader,0.8);
            background-color:var(--bgColorHeader);
            border-radius:0 0 10px 10px;
            left:50%;top:70px;transform: translateX(-50%);
            li {
              height: auto;
              line-height: 1.5;
              width: 100px;
              text-overflow: ellipsis;
              text-overflow: fade(10px);
              -webkit-text-overflow: fade(10px);
              -moz-text-overflow: fade(10px);
              overflow: hidden;
              white-space: nowrap;
              transition: all 0.3s;
              &:hover {
                // overflow: auto;
                white-space: normal;
                text-overflow: unset;
                padding: 0.2em;
              }
            }
          }
        }
      }
    }
  }
  #mastcontainer.horizontal {
    width: 61%;
    margin: 0 auto;
    padding-top: 70px;
    #posts-container {
      padding-left: 0;
      flex: 1;
      max-width: 65%;
      min-width: 65%;
    }
    #sidebar {
      flex: 1;
      margin-left: 3em;
      @media screen and (max-width: 1200px) {
        margin-left: 0;
      }
    }
  }
  .footer-m {
    display: flex;
    // position: absolute;
    // bottom: 0;
    // height: 50px;
    // backdrop-filter: brightness(1.5) opacity(0.9);
    align-items: center;
    justify-content: center;
  }
}


.dark {
  .horizontal-header {
    background-color: $bgColorBaseInDarkMode;
    background-color: var(--bgColorBaseInDarkMode);
    @include boxShadowInDarkMode;
    .header-wrapper {
      .header-left {
        h1 {
          a {
            &:hover {
              color: $highlightColorInDarkMode;
              color: var(--highlightColorInDarkMode);
            }
          }
        }
      }
      .header-right {
        .hz-nav-menu-container {
          a {
            &:hover {
              color: $highlightColorInDarkMode;
              color: var(--highlightColorInDarkMode);
            }
          }
        }
      }
    }
  }
}