// 横向 header
.horizontal-header-mode {
  .horizontal-header {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    height: 70px; min-width: 1200px;
    position: fixed;
    @include boxShadow;
    box-shadow: 0 0 5px #eee;
    width: 100%;
    z-index: 1;
    background-color: rgba($bgColorHeader,0.8);
    background-color: var(--bgColorHeader);
    .horizontal-name {
      font-family: "webfont-for-name","Microsoft Yahei",sans-serif, Consolas,Monaco !important;
    }
    .description {
      font-family: "webfont-for-name","Microsoft Yahei",sans-serif, Consolas,Monaco !important;
    }
    .header-wrapper {
      width: 61.8%;
      margin: 0 auto;
      .header-left {
        float: left;
        height: 70px;
        h1 {
          width: 100%;
          font-size: 1.5em;
          font-weight: bold;
          a {
            display: block;
            height: 35px;
            width: 100%;
            line-height: 35px;
            &:hover {
              color: $highlightColor;
              color: var(--highlightColor);
            }
          }
        }
        .description {
          width: 100%;
          height: 35px;
          line-height: 35px;
          cursor: none;
        }
      }
      .header-right {
        float: right;
        .hz-nav-menu-container {
          li {
            display: inline-block;
            height: 70px;
            line-height: 70px;
            margin-left: 2em;
            position: relative;
          }
          a {
            transition: all 0.3s;
            &::after {
              position: static;
              float: right;
              margin-left: 0.2em;
            }
            &:hover {
              transform: scale(1.05);
              color: $highlightColor;
              color: var(--highlightColor);
            }
          }
          .sub-menu {
            position: absolute;
            z-index: 2;
            width: 300px;
            background-color:rgba($bgColorHeader,0.8);
            background-color:var(--bgColorHeader);
            border-radius:0 0 10px 10px;
            left:50%;transform: translateX(-50%);
           
          }
        }
      }
    }
  }
  #mastcontainer.horizontal {
    margin: 0 auto;
    width: 61.8%;
    padding-top: 70px;
    #posts-container {
      padding: 3% 0;
    }
    #sidebar {
      padding: 3% 0 3% 0;
      margin-left: 70%;
      
      @media screen and (max-width: 1200px) {
        margin-left: 0;
      }
    }
  }
  .footer-m {
    display: block;
  }
}


.dark {
  .horizontal-header {
    background-color: $bgColorBaseInDarkMode;
    background-color: var(--bgColorBaseInDarkMode);
    @include boxShadowInDarkMode;
    .header-wrapper {
      .header-left {
        h1 {
          a {
            &:hover {
              color: $highlightColorInDarkMode;
              color: var(--highlightColorInDarkMode);
            }
          }
        }
      }
      .header-right {
        .hz-nav-menu-container {
          a {
            &:hover {
              color: $highlightColorInDarkMode;
              color: var(--highlightColorInDarkMode);
            }
          }
        }
      }
    }
  }
}