$subFontColor: #333;
$bgColorBase: #fcfbf8;
//$bgColorBase: #000000;
//$highlightColor: $highlightColor;
$highlightColor: #ff6651;
$subColor: #b3b3b3;
$bgColorHeader: #fff;
@font-face {
  font-family: 'iconfont';  /* project id 1475483 */
  src: url('https://at.alicdn.com/t/font_1475483_cvza2re0xfb.eot');
  src: url('https://at.alicdn.com/t/font_1475483_cvza2re0xfb.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1475483_cvza2re0xfb.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1475483_cvza2re0xfb.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1475483_cvza2re0xfb.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1475483_cvza2re0xfb.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('https://at.alicdn.com/t/webfont_4j6jrsdvko.eot'); /* IE9*/
  src: url('https://at.alicdn.com/t/webfont_4j6jrsdvko.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://at.alicdn.com/t/webfont_4j6jrsdvko.woff2') format('woff2'),
  url('https://at.alicdn.com/t/webfont_4j6jrsdvko.woff') format('woff'), /* chrome、firefox */
  url('https://at.alicdn.com/t/webfont_4j6jrsdvko.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('https://at.alicdn.com/t/webfont_4j6jrsdvko.svg#AlibabaPuHuiTiL') format('svg'); /* iOS 4.1- */
}

a:link,a:visited,a:active {
  color: $subFontColor;
  text-decoration: none;
  transition: color .3s;
  border: 0 none;
}
::selection {
  background-color: rgba(51, 51, 51, 0.31);
  color: #fff;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 3px rgba($subFontColor,0.3);
  border-radius: 3px;
  background-color: $bgColorBase;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: $subColor;
  //-webkit-box-shadow: inset 0 0 3px rgba($subFontColor,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  //background: rgba($highlightColor,0.4);
}

input:focus, textarea:focus {

  outline: none;

}
html {
  background-color: #eee;
  background-color: $bgColorBase;
  font-family: "webfont","Microsoft Yahei",sans-serif, Consolas,Monaco !important;
  @media screen and (max-width: 1000px) {
    font-size: 14px;
  }
}
code {
  font-family: Monaco, Consolas, "webfont","Microsoft Yahei",sans-serif !important;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
div.wp-caption {
  width: 100% !important;
}
img {
  max-width: 100% !important;
  height: auto;
}
button {
  background: none;
  cursor: pointer;
  border: 0 none;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
pre {
  overflow-x: auto;
}
code {
}

