@font-face {
  font-family: 'iconfont';  /* project id 1475483 */
  src: url('//at.alicdn.com/t/font_1475483_crt2gh5y68f.eot');
  src: url('//at.alicdn.com/t/font_1475483_crt2gh5y68f.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1475483_crt2gh5y68f.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1475483_crt2gh5y68f.woff') format('woff'),
  url('//at.alicdn.com/t/font_1475483_crt2gh5y68f.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1475483_crt2gh5y68f.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/**
 普通模式变量
 */

/*字体颜色*/
$subFontColor: #333;

/*基本的背景颜色*/
$bgColorBase: #fcfbf8;

/*强调色*/
$highlightColor: #ff6651;

/*非强调的局部颜色*/
$subColor: #b3b3b3;

/*Header背景颜色*/
$bgColorHeader: #ffffff;

/*按钮和header阴影*/
@mixin boxShadow {
  box-shadow: 5px 5px 5px #eee;
}

/*“近文期章”，“文章归档”等标题分割线*/
@mixin hDivider($color) {
  border-bottom: 0.1em solid $color;
}

@mixin icon($content,$marginRight,$color:inherit,$fontSize:16px) {
  &::before {
    font-family: iconfont;
    content: $content;
    margin-right: $marginRight;
    display: inline-block;
    opacity: 0.8;
    color: inherit;
    font-size: $fontSize;
  }
}
/**
  夜间模式变量
 */

/*夜间模式 高亮色*/
$highlightColorInDarkMode: #b18983;

/*夜间模式 基本背景颜色*/
$bgColorBaseInDarkMode: #252D38;

/*夜间模式 Header背景颜色*/
$bgColorHeaderInDarkMode: #252D38;

/*夜间模式 字体颜色*/
$FontColorInDarkMode: #c6c6c6;

/*夜间模式 “近文期章”，“文章归档”等标题颜色*/
$titleColorInDarkMode: #727d87;

/*夜间模式按钮和header阴影*/
@mixin boxShadowInDarkMode {
  box-shadow: 5px 5px 5px #222933;
}

/*夜间模式 “近文期章”，“文章归档”等标题分割线*/
@mixin hDividerInDarkMode {
  border-bottom: 0.1em solid #303b47;
}



a:link,a:visited,a:active {
  color: $subFontColor;
  text-decoration: none;
  transition: color .3s;
  border: 0 none;
}
::selection {
  background-color: rgba(51, 51, 51, 0.31);
  color: #fff;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 3px rgba($subFontColor,0.3);
  border-radius: 3px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: $subColor;
  //-webkit-box-shadow: inset 0 0 3px rgba($subFontColor,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  //background: rgba($highlightColor,0.4);
}

input:focus, textarea:focus {

  outline: none;

}
html {
  background-color: $bgColorBase;
  font-family: "webfont","Microsoft Yahei",sans-serif, Consolas,Monaco !important;
  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
}
code {
  font-family: Monaco, Consolas, "webfont","Microsoft Yahei",sans-serif !important;
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
div.wp-caption {
  width: 100% !important;
}
img {
  max-width: 100% !important;
  height: auto;
  cursor: pointer;
}
button {
  background: none;
  cursor: pointer;
  border: 0 none;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
pre {
  overflow-x: auto;
}
code {
}

/**
for enlighter highlight-plugin
 */
.enlighter-t-wpcustom.enlighter-linenumbers div.enlighter>div::before {
  padding: 0;
  font-size: .9em;
}
.enlighter-overflow-scroll.enlighter-v-standard {
  padding: 1em 0;
}
.enlighter-default {
  padding: 1em 0;
}
div.enlighter>div>div {
  padding-left: 0;
}

blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 3px solid $highlightColor;
  background-color: #f0f0f1;
  padding: 1.2em;
  margin: 1em 0 1em 2em;
  border-radius: 3px;
  p:last-of-type {
    margin-bottom: 0;
  }
}

/*一些icon*/
.nav-timeline {
  //display: flex;
  a {
    width: 100%;
    height: 100%;
    display: inline-block;
    @include icon("\e761",0.4em);
  }

}
.nav-about {
  //display: flex;
  a{
    width: 100%;
    height: 100%;
    display: inline-block;
    @include icon("\e641",0.35em);
  }
}
.nav-home {
  //display: flex;
  a {
    width: 100%;
    height: 100%;
    display: inline-block;
    @include icon("\e70a", 0.2em);
  }
}

.dark {
  a:link,a:visited,a:active {
    color: $FontColorInDarkMode;
  }
  h1,h2,h3,h4,h5,h6 {
    color: $titleColorInDarkMode;
  }
  .enlighter-t-wpcustom {
    background-color: #505b6b !important;
    border: 0 none !important;
  }
  .enlighter-t-wpcustom.enlighter-hover div.enlighter>div:hover {
    background-color: transparent !important;
  }
  .enlighter-default {
    color: $FontColorInDarkMode !important;
  }
  blockquote {
    border-left: 3px solid $highlightColorInDarkMode;
    background-color: #505b6b;
  }
}
html.dark {
  background-color: $bgColorBaseInDarkMode;
  color: $FontColorInDarkMode;
}