.page-nav-wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 2.8em;
  .page-nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #eee;
    transition: transform 0.3s;
    .page-numbers {
      display: inline-block;
      margin: -1px 5px 0 5px;
      padding: 0 10px;
      border-top: 1px solid transparent;
      transition: all 0.3s;
      position: relative;
      color: $subFontColor;
      @include boxShadow;
      @media (prefers-color-scheme: dark) {
        color: $FontColorInDarkMode;
        @include boxShadowInDarkMode;
      }
      &.current {
        color: #fff;
        background-color: $highlightColor;
        @media (prefers-color-scheme: dark) {
          color: $FontColorInDarkMode;
          background-color: $highlightColorInDarkMode;
        }
      }
      &:hover:not(.current) {
        border-top: 1px solid $highlightColor;
        color: $highlightColor;
        @media (prefers-color-scheme: dark) {
          color: $highlightColorInDarkMode;
          border-top: 1px solid $highlightColorInDarkMode;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: -5px;
        right: -10px;
        bottom: -5px;
        left: -10px;
      }
    }
  }
  &:hover {
    .page-nav {
      transform: scale(1.3);
    }
  }
}
