@use "var"as *;

// 分页按钮
.page-nav-wrapper {
  //width: 70%;
  // margin: 0 auto;
  //padding: 2.8em;
  font-size: 1.13em;

  .page-nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: transform 0.3s;
    font-size: clamp(10px, 2vw, 16px);

    span,
    a {
      margin-bottom: 1em;
    }

    .page-numbers {
      display: inline-block;
      margin-top: 5px;
      padding: 0 1em;
      border-top: 3px solid transparent;
      transition: all 0.3s;
      position: relative;
      color: $subFontColor;
      color: var(--subFontColor);
      //@include boxShadow;
      border-radius: 2px;
      box-shadow: 0 -2px 0 #eee;

      &.current {
        color: #fff;
        background-color: $highlightColor;
        background-color: var(--highlightColor);
      }

      &:hover:not(.current) {
        border-top: 3px solid $highlightColor;
        border-top: 3px solid var(--highlightColor);
        color: $highlightColor;
        color: var(--highlightColor);
      }

      &::before {
        content: '';
        position: absolute;
        top: -5px;
        right: -10px;
        bottom: -5px;
        left: -10px;
      }
    }
  }

  //&:hover {
  //  .page-nav {
  //    transform: scale(1.3);
  //  }
  //}
}

.dark {
  .page-nav-wrapper {
    .page-nav {
      border: 0 none;

      .tl-page-num {
        color: $FontColorInDarkMode;
        color: var(--FontColorInDarkMode);
      }

      .page-numbers {
        color: $FontColorInDarkMode;
        color: var(--FontColorInDarkMode);
        //@include boxShadowInDarkMode;
        box-shadow: 0 -3px 3px #222933;

        &.current {
          color: $FontColorInDarkMode;
          color: var(--FontColorInDarkMode);
          background-color: $highlightColorInDarkMode;
          background-color: var(--highlightColorInDarkMode);
        }

        &:hover:not(.current) {
          color: $highlightColorInDarkMode;
          color: var(--highlightColorInDarkMode);
          border-top: 1px solid $highlightColorInDarkMode;
          border-top: 1px solid var(--highlightColorInDarkMode);
        }
      }
    }
  }
}