#posts-container {
  width: 61%;
  padding: 3%;
  float: left;
  .posts-cate-title {
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 30px;
    color: $highlightColor;
  }
  .post-item {
    .divider {
      display: block;
      height: 1px;
      background-color: $subColor;
      width: 8%;
      margin: 30px auto;
    }
    &:nth-last-of-type(2) .divider {
      background-color: transparent;
    }
    .post-title {
      font-weight: 900;
      h2 {
        margin-top: 0;
        margin-bottom: 0;
        a {
          color: $highlightColor;
          display: inline-block;
          transition: all 0.3s;
          &::after {
            content: '';
            display: block;
            width: 0;
            margin: 0 auto;
            transition: all 0.3s;
            margin-top: 2px;
            height: 2px;
            background-color: $highlightColor;
          }
          &:hover::after {
            width: 100%;
          }
          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }
    .post-meta {
      margin: 0 0 15px 0;
      font-size: 14px;
      & .post-meta-opt:not(:empty) {
        margin-right: 10px;
      }
    }
    .post-excerpt {
      .post-thumbnail {
        border: 1em solid #fff;
        //box-shadow: 5px 5px 5px #eee;
        border-radius: 5px;
        width: 280px;
        height: auto;
        overflow: hidden;
        margin-left: 1.5em;
        float: right;
        transition: all 0.3s;
        &.error {
          display: none;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
      .read-more {
        padding: 5px;
        border: 2px solid transparent;
        color: #fff;
        display: block;
        transition: all 0.3s;
        margin-top: 10px;
        background-color: $highlightColor;
        line-height: 1;
        box-shadow: 5px 5px 5px #eee;
        a {
          color: #fff;
        }
        &:hover {
          color: $subFontColor;
          border: 2px solid $highlightColor;
          background-color: transparent;
          a {
            color: $subFontColor;
          }
          transform: scale(1.1);
        }
      }
      &::after {
        clear: both;
        content: "";
        display: block;
      }
    }
    .post-content {
      a {
        text-decoration: underline;
      }
    }
  }
  .post-switch {
    margin-left: 0;
    margin-top: 30px;
    color: $highlightColor;
    font-weight: 400;
    list-style: none;
    border-top: 2px dashed $subColor;
    border-bottom: 2px dashed $subColor;
    padding: 20px 10px;
    .post-prev .previous span,
    .post-next .next span
    {
      margin-right: 1.0em;
    }
  }
  @media screen and (max-width: 1200px){
    width: auto;
  }
  @media screen and (max-width: 1000px) {
    padding: 1em;
    width: auto;
    float: none;
    .post-excerpt {
      .post-thumbnail {
        display: none;
      }
    }
  }
}