@use "var"as *;

// 核心界面——文章容器
#posts-container {
  // width: 61%;
  flex: 1;
  padding: 2em;
  // float: left;
  max-width: 61.8%;
  min-width: 61.8%;
  transition: all 0.3s;

  .post-wrapper {
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
  }

  .posts-cate-title {
    text-align: center;
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 30px;
    color: $highlightColor;
    color: var(--highlightColor);
  }

  .post-item {
    opacity: 0.95;
    position: relative;
    // overflow: hidden;
    padding: 1em;
    border-radius: 10px;
    // background-color: transparent;
    //去掉大色块，统一使用白色
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    margin-bottom: 2em;
    transition: transform 0.3s;

    // backdrop-filter: blur(10px);
    //box-shadow: 0 0 3px #fff;
    // gnome环境下卡顿
    // &:hover {
    //   transform: scale(1.02);
    // }
    &.no-thumbnail {
      background: #fff;
    }

    &.post-single {
      padding: 0;

      &:hover {
        transform: none;
      }
    }

    .divider {
      display: block;
      height: 1px;
      background-color: $subColor;
      background-color: var(--subColor);
      width: 8%;
      margin: 30px auto;
    }

    &:nth-last-of-type(2) .divider {
      background-color: transparent;
    }

    .post-title {
      font-weight: 900;

      h2 {
        margin-top: 0;
        margin-bottom: 0;

        a {
          color: $highlightColor;
          color: var(--highlightColor);
          display: inline-block;
          transition: all 0.3s;

          &::after {
            content: '';
            display: block;
            width: 0;
            margin: 0 auto;
            transition: all 0.3s;
            margin-top: 2px;
            height: 2px;
            background-color: $highlightColor;
            background-color: var(--highlightColor);
          }

          &:hover::after {
            width: 100%;
          }

          &:hover {
            transform: scale(1.03);
          }
        }
      }
    }

    .post-meta {
      margin: 0 0 15px 0;
      font-size: 14px;

      & .post-meta-opt:not(:empty) {
        margin-right: 10px;
      }

      .post-meta-cate {
        @include icon('\e91f', 0);
      }

      .post-meta-time {
        @include icon('\e7bc', 0);
      }
    }

    .post-excerpt {
      .post-excerpt-content {
        position: relative;
        z-index: -1;
      }

      .post-thumbnail {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 10px solid #fff;
        border-radius: 5px;
        width: 280px;
        overflow: hidden;
        margin-left: 1em;
        float: right;
        transition: all 0.3s;
        margin-top: 5px;
        height: 173px;
        background-position: center;
        // 去掉thumbnail 的border
        // background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.3s;
        background-size: 100% auto;
        transition: all 0.3s;
        border: 0 none;

        &:hover {
          border-radius: 20px;
          background-size: 110% auto;
        }

        span {
          position: relative;
          z-index: -1;
        }
      }

      .read-more {
        padding: 5px;
        border: 2px solid transparent;
        color: #fff;
        display: block;
        transition: all 0.3s;
        margin-top: 10px;
        background-color: $highlightColor;
        background-color: var(--highlightColor);
        line-height: 1;
        border-radius: 5px;

        a {
          color: #fff;
        }

        &:hover {
          color: $subFontColor;
          color: var(--subFontColor);
          border: 2px solid $highlightColor;
          border: 2px solid var(--highlightColor);
          background-color: transparent;

          a {
            color: $subFontColor;
            color: var(--subFontColor);
          }

          transform: scale(1.1);
        }
      }

      &::after {
        clear: both;
        content: "";
        display: block;
      }
    }

    // 文章内容渲染样式，作为 normalize.scss 的补充
    .post-content {
      img {
        display: block;
        margin: 0 auto;
      }

      a {
        text-decoration: underline;
      }

      code {
        font-family: 'Fira Code', monospace;
        background-color: rgba(0, 0, 0, 0.05);
        padding: 2px 4px;
        border-radius: 4px;
      }

      ul {
        list-style: unset;
        list-style-position: inside;

      }

      ol {
        list-style: decimal;
        list-style-position: inside;
      }

      figure {

        figcaption {
          text-align: center;
          font-size: 14px;
          color: $subFontColor;
          color: var(--subFontColor);
        }
      }

      strong {
        font-weight: 600;
      }

      em {
        font-style: italic;
      }

      // 上角标
      sup {
        vertical-align: super;
      }

      // 下角标
      sub {
        vertical-align: sub;
      }

      button {
        padding: 5px 10px;
        border: 2px solid transparent;
        color: #fff;
        display: inline-block;
        transition: all 0.3s;
        margin-top: 10px;
        background-color: $highlightColor;
        background-color: var(--highlightColor);
        line-height: 1;
        border-radius: 5px;

        &:hover {
          color: $subFontColor;
          color: var(--subFontColor);
          border: 2px solid $highlightColor;
          border: 2px solid var(--highlightColor);
          background-color: transparent;
        }
      }
    }
  }
}

.post-switch {
  margin-left: 0;
  margin-top: 30px;
  color: $highlightColor;
  color: var(--highlightColor);
  font-weight: 400;
  list-style: none;
  border-top: 2px dashed $subColor;
  border-top: 2px dashed var(--subColor);
  border-bottom: 2px dashed $subColor;
  border-bottom: 2px dashed var(--subColor);
  padding: 20px 10px;

  .post-prev .previous span,
  .post-next .next span {
    margin-right: 1.0em;
  }
}


.mobile {

  // 放弃移动端thumbnail的模糊效果，性能太差
  #posts-container {
    padding: 0.8em;
    width: auto;
    float: none;
    max-width: unset;
    min-width: unset;

    .post-item.index {
      margin: 0;
      padding: 0;
      margin-bottom: 2em;
      overflow: hidden;

      // 移动端 post-item 新的展示效果，当有 post-thumbnail 时，标题覆盖在图片上；当没有 post-thumbnail 时，标题在上方，摘要在下方
      .post-title {
        position: relative;

        h2 {
          position: absolute;
          left: 0;
          top: 0;
          backdrop-filter: saturate(180%) blur(3px);
          -webkit-backdrop-filter: saturate(180%) blur(3px);
          background-color: rgba(255, 255, 255, 0.5);
          // border-radius: 5px;
          height: 150px;
          width: 100%;
          font-size: 18px;

          a {
            padding: 14px 14px 0 14px;
            display: block;
          }
        }

        .thumb-link {
          display: block;

          .post-thumbnail {
            width: 100%;
            height: 150px;
            overflow: hidden;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

        }
      }

      .post-meta {
        margin: 0;
        padding: 0 14px;
        position: absolute;
        top: 115px;
        font-weight: 600;
      }

      .post-excerpt {
        padding: 14px 14px 14px 14px;

        .post-thumbnail {
          &::after {
            display: none;
          }

          &::before {
            opacity: 1;
          }
        }

        .read-more {
          display: none;
        }
      }
    }

    // 没有 post-thumbnail 的 post-item，保持原来的设计
    .post-item.no-thumbnail {
      .post-title {

        position: unset;

        h2 {
          position: unset;
          height: auto;
        }
      }

      .post-meta {
        position: unset;
      }

      .post-excerpt {
        padding: 0 14px 14px 14px;
      }
    }

    .post-wrapper {
      margin-top: 2.3em;
    }
  }

  .archive-container {
    margin-top: 4em;
  }
}

.dark {
  #posts-container {
    .post-wrapper {
      background-color: #1d2932;
    }

    .posts-cate-title {
      color: $highlightColorInDarkMode;
      color: var(--highlightColorInDarkMode);
    }

    .post-item {
      background-color: #1d2932;

      &.no-thumbnail {
        background-color: #1d2932;
      }

      .post-title {
        h2 {
          a {
            color: $highlightColorInDarkMode;
            color: var(--highlightColorInDarkMode);

            &::after {
              background-color: $highlightColorInDarkMode;
              background-color: var(--highlightColorInDarkMode);
            }
          }
        }
      }

      .post-excerpt {
        .post-thumbnail {
          border: 1em solid #1c232d;

          &::before {
            background-color: #1c232d;
          }

          &::after {
            opacity: 0.1;
          }
        }

        .read-more {
          background-color: $highlightColorInDarkMode;
          background-color: var(--highlightColorInDarkMode);

          a {
            color: $FontColorInDarkMode;
            color: var(--FontColorInDarkMode);
          }

          &:hover {
            border: 2px solid $highlightColorInDarkMode;
            border: 2px solid var(--highlightColorInDarkMode);
            background-color: transparent;
          }
        }
      }
    }

    .post-switch {
      color: $highlightColorInDarkMode;
      color: var(--highlightColorInDarkMode);
    }
  }

  &.mobile {
    #posts-container {
      .post-item.index {
        .post-title {
          h2 {
            background-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}