#sidebar {
  margin-left: 67%;
  padding: 3% 3% 0 0;
  @media screen and (max-width: 1200px) {
    padding: 3%;
    margin: 0;
    float: left;
  }
  @media screen and (max-width: 1000px) {
    padding: 3%;
    float: none;
  }
  .sidebar-widget {
    margin-bottom: 3%;
    form {
      label {display: none;}
      input[type=submit] {
        /*display: none;*/
        width: 20%;
        /*border-radius: 3px;*/
        background: $highlightColor;
        color: #fff;
        height: 35px;
        border: 0 none;
      }
      input[type=text] {
        border: none;
        width: 80%;
        height: 35px;
        text-indent: 20px;
        float: left;
      }
    }
    h2 {
      text-align: left;
      line-height: 2;
      border-bottom: 2px solid $subColor;
      margin-bottom: 3%;
      //color: $highlightColor;
    }
    ul {
      overflow: hidden;
      list-style: none;
      .cat-item {
        float: left;
        width: 50%;
        &::before {
          font-family: "iconfont" !important;
          content: '\e91f';
          margin-right: 3px;
          vertical-align: middle;
          transition: all 0.3s;
        }
        &:hover::before {
          color: $highlightColor;
        }
      }
    }
    #wp-calendar {
      tbody  a{
        color: $highlightColor;
      }
      table-layout: fixed;
      width: 100%;
      @media screen and (max-width: 1000px) {
        th, td, caption {
          border: 0 none;
        }
      }
    }
    .tagcloud {
      a {
        margin-right: 1.2em;
      }
    }
  }
}