.timeline-container {
  width: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: 3%;
  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 102%;
    background: rgba($highlightColor, 0.2);
    z-index: -1;
    margin-left: -20px;
  }
  .tl-year-title {
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
    color: $highlightColor;
  }
  .tl-year-title::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -22px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    background: $highlightColor;
    border-radius: 50%;
  }
  .tl-posts-container {
    margin-bottom: 30px;
    .tl-post-item {
      position: relative;
      margin-bottom: 20px;
      &::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 12px;
        width: 6px;
        height: 6px;
        background: $highlightColor;
        border-radius: 50%;
        //border: 1px solid #fff;
        margin-left: -21px;
      }
      .tl-post-date {
        font-size: 14px;
        margin-right: 16px;
        font-weight: bold;
        float: left;
        margin-top: 0.3em;
      }
      .tl-post-title{
        display: inline-block;
        max-width: 24em;
        &:hover {
          &::after {
            border-bottom: 0.1em solid $highlightColor;
            width: 100%;
          }
        }
        &::after {
          transition: all 0.3s;
          margin: 0 auto;
          display: block;
          content: "";
          width: 0;
          border-bottom: 0.1em solid $subFontColor;
          margin-top: 0.1em;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .timeline-container {
    width: 75%;
    margin-top: 4em;
  }
}
.dark {
  .timeline-container {
    &::after {
      background:  rgba($highlightColorInDarkMode,0.2);
    }
    .tl-year-title {
      color: $highlightColorInDarkMode;
    }
    .tl-year-title::before {
      background: $highlightColorInDarkMode;
    }
    .tl-posts-container {
      .tl-post-item {
        &::before {
          background: $highlightColorInDarkMode;
        }
        .tl-post-title{
          &:hover {
            &::after {
              border-bottom: 0.1em solid $highlightColorInDarkMode;
            }
          }
        }
      }
    }
  }
}