#wpdcom .wpd-prim-button {
  background-color: var(--highlightColor);
  color: #FFFFFF
}
#wpdcom .wpd-comment-info-bar {
  border: 1px dashed var(--highlightColor);
  background: #e6f8f4
}
#wpdcom .wpd_label__check i.wpdicon-on {
  color: #07B290;
  border: 1px solid var(--highlightColor);
}
#wpdcom .wpd-blog-administrator .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none
}

#wpdcom .wpd-blog-administrator .wpd-comment-author, #wpdcom .wpd-blog-administrator .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-administrator .wpd-avatar img {
  border-color: var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment.wpd-reply .wpd-comment-wrap.wpd-blog-administrator {
  border-left: 3px solid var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-administrator .wpd-avatar img {
  border-bottom-color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-administrator .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-administrator .wpd-comment-right {
  border-left: 1px solid var(--highlightColor)
}

#wpdcom .wpd-blog-editor .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none
}

#wpdcom .wpd-blog-editor .wpd-comment-author, #wpdcom .wpd-blog-editor .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-editor .wpd-avatar img {
  border-color: var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment.wpd-reply .wpd-comment-wrap.wpd-blog-editor {
  border-left: 3px solid var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-editor .wpd-avatar img {
  border-bottom-color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-editor .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-editor .wpd-comment-right {
  border-left: 1px solid var(--highlightColor)
}

#wpdcom .wpd-blog-author .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none
}

#wpdcom .wpd-blog-author .wpd-comment-author, #wpdcom .wpd-blog-author .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-author .wpd-avatar img {
  border-color: var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-author .wpd-avatar img {
  border-bottom-color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-author .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-author .wpd-comment-right {
  border-left: 1px solid var(--highlightColor)
}

#wpdcom .wpd-blog-contributor .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none
}

#wpdcom .wpd-blog-contributor .wpd-comment-author, #wpdcom .wpd-blog-contributor .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-contributor .wpd-avatar img {
  border-color: var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-contributor .wpd-avatar img {
  border-bottom-color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-contributor .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-contributor .wpd-comment-right {
  border-left: 1px solid var(--highlightColor)
}

#wpdcom .wpd-blog-subscriber .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none
}

#wpdcom .wpd-blog-subscriber .wpd-comment-author, #wpdcom .wpd-blog-subscriber .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-subscriber .wpd-avatar img {
  border-bottom-color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-subscriber .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}

#wpdcom .wpd-blog-wpseo_manager .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none
}

#wpdcom .wpd-blog-wpseo_manager .wpd-comment-author, #wpdcom .wpd-blog-wpseo_manager .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-wpseo_manager .wpd-avatar img {
  border-color: var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-wpseo_manager .wpd-avatar img {
  border-bottom-color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-wpseo_manager .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-wpseo_manager .wpd-comment-right {
  border-left: 1px solid var(--highlightColor)
}

#wpdcom .wpd-blog-wpseo_editor .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none
}

#wpdcom .wpd-blog-wpseo_editor .wpd-comment-author, #wpdcom .wpd-blog-wpseo_editor .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-wpseo_editor .wpd-avatar img {
  border-color: var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-wpseo_editor .wpd-avatar img {
  border-bottom-color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-wpseo_editor .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-wpseo_editor .wpd-comment-right {
  border-left: 1px solid var(--highlightColor)
}

#wpdcom .wpd-blog-post_author .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none;
}

#wpdcom .wpd-blog-post_author .wpd-comment-author, #wpdcom .wpd-blog-post_author .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom .wpd-blog-post_author .wpd-avatar img {
  border-color: var(--highlightColor)
}

#wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-post_author .wpd-avatar img {
  border-color: var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment.wpd-reply .wpd-comment-wrap.wpd-blog-post_author {
  border-left: 3px solid var(--highlightColor)
}

#wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-post_author .wpd-avatar img {
  border-bottom-color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-post_author .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-post_author .wpd-comment-right {
  border-left: 1px solid var(--highlightColor)
}

#wpdcom .wpd-blog-guest .wpd-comment-label {
  color: #ffffff;
  background-color: var(--highlightColor);
  border: none
}

#wpdcom .wpd-blog-guest .wpd-comment-author, #wpdcom .wpd-blog-guest .wpd-comment-author a {
  color: var(--highlightColor)
}

#wpdcom.wpd-layout-3 .wpd-blog-guest .wpd-comment-subheader {
  border-top: 1px dashed var(--highlightColor)
}
#wpdcom .wpd-thread-head .wpd-thread-info {
  border-bottom: 2px solid var(--highlightColor)
}

#wpdcom .wpd-thread-head .wpd-thread-info.wpd-reviews-tab svg {
  fill: var(--highlightColor)
}

#wpdcom .wpd-thread-head .wpdiscuz-user-settings {
  border-bottom: 2px solid var(--highlightColor)
}

#wpdcom .wpd-thread-head .wpdiscuz-user-settings:hover {
  color: var(--highlightColor)
}

#wpdcom .wpd-comment .wpd-follow-link:hover {
  color: var(--highlightColor)
}

#wpdcom .wpd-comment-status .wpd-sticky {
  color: var(--highlightColor)
}

#wpdcom .wpd-thread-filter .wpdf-active {
  color: var(--highlightColor);
  border-bottom-color: var(--highlightColor)
}
#wpdcom .wpd-comment-info-bar .wpd-current-view i {
  color: var(--highlightColor)
}

#wpdcom .wpd-filter-view-all:hover {
  background: var(--highlightColor)
}
#wpdcom .wpd-follow:hover i, #wpdcom .wpd-unfollow:hover i, #wpdcom .wpd-comment .wpd-follow-active:hover i {
  color: var(--highlightColor)
}

#wpdcom .wpdiscuz-readmore {
  cursor: pointer;
  color: var(--highlightColor)
}
.wpd-wrapper .wpd-list-item.wpd-active {
  border-top: 3px solid var(--highlightColor)
}
#wpd-bubble-wrapper #wpd-bubble-all-comments-count {
  color: var(--highlightColor)
}

#wpd-bubble-wrapper > div {
  background-color: var(--highlightColor)
}

#wpd-bubble-wrapper > #wpd-bubble #wpd-bubble-add-message {
  background-color: var(--highlightColor)
}

#wpd-bubble-wrapper > #wpd-bubble #wpd-bubble-add-message::before {
  border-left-color: var(--highlightColor) ;
  border-right-color: var(--highlightColor)
}

#wpd-bubble-wrapper.wpd-right-corner > #wpd-bubble #wpd-bubble-add-message::before {
  border-left-color: var(--highlightColor) ;
  border-right-color: var(--highlightColor)
}

.wpd-inline-icon-wrapper path.wpd-inline-icon-first {
  fill: var(--highlightColor)
}

.wpd-inline-icon-count {
  background-color: var(--highlightColor)
}

.wpd-inline-icon-count::before {
  border-right-color: var(--highlightColor)
}

.wpd-inline-form-wrapper::before {
  border-bottom-color: var(--highlightColor)
}

.wpd-inline-form-question {
  background-color: var(--highlightColor)
}

.wpd-inline-form {
  background-color: var(--highlightColor)
}

.wpd-last-inline-comments-wrapper {
  border-color: var(--highlightColor)
}

.wpd-last-inline-comments-wrapper::before {
  border-bottom-color: var(--highlightColor)
}

.wpd-last-inline-comments-wrapper .wpd-view-all-inline-comments {
  background: var(--highlightColor)
}

.wpd-last-inline-comments-wrapper .wpd-view-all-inline-comments:hover, .wpd-last-inline-comments-wrapper .wpd-view-all-inline-comments:active, .wpd-last-inline-comments-wrapper .wpd-view-all-inline-comments:focus {
  background-color: var(--highlightColor)
}
.dark {
  #wpdcom .wpd-prim-button {
    background-color: var(--highlightColorInDarkMode);
  }
  #wpdcom .wpd-comment-info-bar {
    border: 1px dashed var(--highlightColorInDarkMode);
  }
  #wpdcom .wpd_label__check i.wpdicon-on {
    border: 1px solid var(--highlightColorInDarkMode);
  }
  #wpdcom .wpd-blog-administrator .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-administrator .wpd-comment-author, #wpdcom .wpd-blog-administrator .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-administrator .wpd-avatar img {
    border-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment.wpd-reply .wpd-comment-wrap.wpd-blog-administrator {
    border-left: 3px solid var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-administrator .wpd-avatar img {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-administrator .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-administrator .wpd-comment-right {
    border-left: 1px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-editor .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-editor .wpd-comment-author, #wpdcom .wpd-blog-editor .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-editor .wpd-avatar img {
    border-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment.wpd-reply .wpd-comment-wrap.wpd-blog-editor {
    border-left: 3px solid var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-editor .wpd-avatar img {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-editor .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-editor .wpd-comment-right {
    border-left: 1px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-author .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-author .wpd-comment-author, #wpdcom .wpd-blog-author .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-author .wpd-avatar img {
    border-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-author .wpd-avatar img {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-author .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-author .wpd-comment-right {
    border-left: 1px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-contributor .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-contributor .wpd-comment-author, #wpdcom .wpd-blog-contributor .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-contributor .wpd-avatar img {
    border-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-contributor .wpd-avatar img {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-contributor .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-contributor .wpd-comment-right {
    border-left: 1px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-subscriber .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-subscriber .wpd-comment-author, #wpdcom .wpd-blog-subscriber .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-subscriber .wpd-avatar img {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-subscriber .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-wpseo_manager .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-wpseo_manager .wpd-comment-author, #wpdcom .wpd-blog-wpseo_manager .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-wpseo_manager .wpd-avatar img {
    border-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-wpseo_manager .wpd-avatar img {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-wpseo_manager .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-wpseo_manager .wpd-comment-right {
    border-left: 1px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-wpseo_editor .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-wpseo_editor .wpd-comment-author, #wpdcom .wpd-blog-wpseo_editor .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-wpseo_editor .wpd-avatar img {
    border-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-wpseo_editor .wpd-avatar img {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-wpseo_editor .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-wpseo_editor .wpd-comment-right {
    border-left: 1px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-post_author .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-post_author .wpd-comment-author, #wpdcom .wpd-blog-post_author .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-post_author .wpd-avatar img {
    border-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-1 .wpd-comment .wpd-blog-post_author .wpd-avatar img {
    border-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment.wpd-reply .wpd-comment-wrap.wpd-blog-post_author {
    border-left: 3px solid var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-2 .wpd-comment .wpd-blog-post_author .wpd-avatar img {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-post_author .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-reply .wpd-blog-post_author .wpd-comment-right {
    border-left: 1px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-blog-guest .wpd-comment-label {
    background-color: var(--highlightColorInDarkMode);
  }

  #wpdcom .wpd-blog-guest .wpd-comment-author, #wpdcom .wpd-blog-guest .wpd-comment-author a {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom.wpd-layout-3 .wpd-blog-guest .wpd-comment-subheader {
    border-top: 1px dashed var(--highlightColorInDarkMode)
  }
  #wpdcom .wpd-thread-head .wpd-thread-info {
    border-bottom: 2px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-thread-head .wpd-thread-info.wpd-reviews-tab svg {
    fill: var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-thread-head .wpdiscuz-user-settings {
    border-bottom: 2px solid var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-thread-head .wpdiscuz-user-settings:hover {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-comment .wpd-follow-link:hover {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-comment-status .wpd-sticky {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-thread-filter .wpdf-active {
    color: var(--highlightColorInDarkMode);
    border-bottom-color: var(--highlightColorInDarkMode)
  }
  #wpdcom .wpd-comment-info-bar .wpd-current-view i {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom .wpd-filter-view-all:hover {
    background: var(--highlightColorInDarkMode)
  }
  #wpdcom .wpd-follow:hover i, #wpdcom .wpd-unfollow:hover i, #wpdcom .wpd-comment .wpd-follow-active:hover i {
    color: var(--highlightColorInDarkMode)
  }

  #wpdcom .wpdiscuz-readmore {
    cursor: pointer;
    color: var(--highlightColorInDarkMode)
  }
  .wpd-wrapper .wpd-list-item.wpd-active {
    border-top: 3px solid var(--highlightColorInDarkMode)
  }
  #wpd-bubble-wrapper #wpd-bubble-all-comments-count {
    color: var(--highlightColorInDarkMode)
  }

  #wpd-bubble-wrapper > div {
    background-color: var(--highlightColorInDarkMode)
  }

  #wpd-bubble-wrapper > #wpd-bubble #wpd-bubble-add-message {
    background-color: var(--highlightColorInDarkMode)
  }

  #wpd-bubble-wrapper > #wpd-bubble #wpd-bubble-add-message::before {
    border-left-color: var(--highlightColorInDarkMode) ;
    border-right-color: var(--highlightColorInDarkMode)
  }

  #wpd-bubble-wrapper.wpd-right-corner > #wpd-bubble #wpd-bubble-add-message::before {
    border-left-color: var(--highlightColorInDarkMode) ;
    border-right-color: var(--highlightColorInDarkMode)
  }

  .wpd-inline-icon-wrapper path.wpd-inline-icon-first {
    fill: var(--highlightColorInDarkMode)
  }

  .wpd-inline-icon-count {
    background-color: var(--highlightColorInDarkMode)
  }

  .wpd-inline-icon-count::before {
    border-right-color: var(--highlightColorInDarkMode)
  }

  .wpd-inline-form-wrapper::before {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  .wpd-inline-form-question {
    background-color: var(--highlightColorInDarkMode)
  }

  .wpd-inline-form {
    background-color: var(--highlightColorInDarkMode)
  }

  .wpd-last-inline-comments-wrapper {
    border-color: var(--highlightColorInDarkMode)
  }

  .wpd-last-inline-comments-wrapper::before {
    border-bottom-color: var(--highlightColorInDarkMode)
  }

  .wpd-last-inline-comments-wrapper .wpd-view-all-inline-comments {
    background: var(--highlightColorInDarkMode)
  }

  .wpd-last-inline-comments-wrapper .wpd-view-all-inline-comments:hover, .wpd-last-inline-comments-wrapper .wpd-view-all-inline-comments:active, .wpd-last-inline-comments-wrapper .wpd-view-all-inline-comments:focus {
    background-color: var(--highlightColorInDarkMode)
  }

  #wpdcom .ql-container {
    background: #1d242c;
    border: 1px solid #2c3440;
  }
  #wpdcom .ql-toolbar {
    background-color: transparent;
    border: 1px solid #2c3440;
    border-top: 0 none;
  }

  #wpdcom .wpd-auth .wpd-login {
    color: $FontColorInDarkMode;
  }
  .ql-toolbar.ql-snow {
    border: 1px solid #2c3440;
  }
}