/*网页加载入场动画*/
@keyframes pageEnter {
  100% {
    transform: translate3d(0,0,0);
  }
}
@keyframes fadeOut {
  100% {
    top: 0;
    opacity: 0;
    display: none;
  }
}
.pageShow {
  animation: pageEnter 0.6s linear;
  animation-fill-mode: forwards;
  transition: all 1s;
}
.fadeOut {
  animation: fadeOut 1s linear;
  animation-fill-mode: forwards;
}
